.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  width: 829px;
  gap: 12px;
  margin: 0 0 52px;
}

.animationBlock {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}