.animationBlock {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  gap: 15px;
  justify-content: center;
  margin: 0 auto;
}

.circle {
  display: flex;
  align-items: center;
  gap: 17px;
  position: relative;
}

.circle__add {
  position: absolute;
  bottom: 120px;
  left: 14px;
}

.circle__remove {
  position: absolute;
  top: 120px;
  left: 10px;
}

.input {
  width: 204px;
}

.button1 {
  width: 175px;
  margin-left: 12px;
}

.button2 {
  width: 362px;
  margin-left: 12px;
}