.animationBlock {
  display: flex;
  padding: 120px 0 0;
  gap: 16px;
  flex-wrap: wrap;
}

.input {
  width: 377px;
}

.button {
  width: 178px;
  margin-left: 12px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}